* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	font-size: 18px;
}

.container {
	max-width: 1080px;
	width: 100%;
}
.container2 {
	max-width: 900px;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #F9FAF8;
	background-color: #1F2937;
}
.hero header {
	padding-top: 18px;
}
.hero header ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.hero header li {
	margin-left: 24px;
	color: #E5E7EB;
}
.hero .logo {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: bold;
	margin-right: auto;
	margin-left: 0;
}
.hero-content {
	display: flex;
	padding: 130px 0px;
}
.hero-content .left {
	align-self:center;
	padding-right: 48px;
}
.hero h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 1000;
}
.hero .left p {
	color: #E5E7EB;
	margin-bottom: 12px;
}
.hero-btn {
	color: inherit;
	background-color: #3882F6;
	border: 1px solid #3882F6;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 30px;
}
.hero-img-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	width: 520px;
	height: 230px;
}

.info {
	text-align: center;
	margin-bottom: 100px;
}
.info-heading {
	padding: 50px 0px;
	font-size: 36px;
	font-weight: bold;
	color: #1F2937;
}
.info-boxes {
	display: flex;
	justify-content:center;
	gap: 50px;
}
.info-boxes div {
	width: min-content;
}
.info-boxes img {
	width: 170px;
	height: 170px;
	border: 4px solid #3882F6;
	border-radius: 25px;
}

.testimonial {
	background-color: #E5E7EB;
	color: #1F2937;
	display:flex;
	justify-content: center;
}
.testimonial-box {
	display: flex;
	flex-direction: column;
	padding: 100px 0;
}
.testimonial blockquote {
	font-size: 36px;
	font-weight: 100;
}
.testimonial .attribution {
	font-size: 22px;
	font-weight: bold;
	margin-left: auto;
}

.CTA {
	display: flex;
	justify-content: center;
	padding: 100px 0px;
}
.CTA-box {
	display: flex;
	color: #F9FAF8;
	background-color: #3882F6;
	border: 1px solid #3882F6;
	border-radius: 8px;
	padding: 50px 100px;
}
.CTA-heading {
	font-size: 24px;
	font-weight: bold;
}
.CTA-btn {
	font-size: 18px;
	font-weight: bold;
	color: inherit;
	background-color: #3882F6;
	border: 2px solid #F9FAF8;
	border-radius: 8px;
	padding: 0px 30px;
	margin-left: auto;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F9FAF8;
	background-color: #1F2937;
	padding: 40px;
}