* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	font-size: 18px;
}

.container {
	max-width: 1080px;
	width: 100%;
}
.container2 {
	max-width: 900px;
}

.clr-lt { color: #b25d3e; }
.clr-md { color: #7b5a40; }
.clr-dk { color: #1F2937; }
.clr-btn { background-color: #f5a67b; }
.brd-1 {
	border-width: 1px;
	border-style: solid;
}
.brd-2 {
	border-width: 2px;
	border-style: solid;
}
.brd-4, .info img {
	border-width: 4px;
	border-style: solid;
}
.brd-2 {
	border-color: #c96b49;
}
.brd-1, .brd-3, .info img {
	border-color: #f5a67b;
}

.pastel-bg {
	background: rgb(230,207,168);
	background: radial-gradient(circle, rgba(230,207,168,1) 0%, rgba(246,169,107,1) 100%); 
}


.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: #1F2937; */
}
.hero header {
	padding-top: 18px;
}
.hero header ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.hero header li {
	margin-left: 24px;
}
.hero .logo {
	font-size: 24px;
	font-weight: bold;
	margin-right: auto;
	margin-left: 0;
}
.hero-content {
	display: flex;
	padding: 130px 0px;
}
.hero-content .left {
	align-self:center;
	padding-right: 48px;
}
.hero-heading {
	font-size: 48px;
	font-weight: 900;
}
.hero .left p {
	margin-bottom: 12px;
}
.hero-btn {
	color: inherit;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 30px;
}
.hero-img-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	width: 520px;
	height: 230px;
	overflow: hidden;
}

.info {
	text-align: center;
	margin-bottom: 100px;
}
.info-heading {
	padding: 50px 0px;
	font-size: 36px;
	font-weight: bold;
}
.info-boxes {
	display: flex;
	justify-content:center;
	gap: 50px;
}
.info-boxes div {
	width: min-content;
}
.info-boxes img {
	width: 170px;
	height: 170px;
	border-radius: 25px;
}

.testimonial {
	background-color: #E5E7EB;
	display:flex;
	justify-content: center;
}
.testimonial-box {
	display: flex;
	flex-direction: column;
	padding: 100px 0;
}
.testimonial blockquote {
	font-size: 36px;
	font-weight: 100;
}
.testimonial .attribution {
	font-size: 22px;
	font-weight: bold;
	margin-left: auto;
}

.CTA {
	display: flex;
	justify-content: center;
	padding: 100px 0px;
}
.CTA-box {
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding: 50px 100px;
	gap: 150px;
}
.CTA-heading {
	font-size: 24px;
	font-weight: bold;
}
.CTA-btn {
	height: 40px;
	flex: 0 0 auto;
	font-size: 18px;
	font-weight: bold;
	color: inherit;
	border-radius: 8px;
	padding: 0px 30px;
	margin-left: auto;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1F2937;
	padding: 40px;
}